In [21]:
import pandas as pd
import numpy as np
import os
from save_excel import save_excel
from openpyxl import load_workbook
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Import the cleaned dataset
csv_file_path = '..\\dataset\\international_top_terms_cleaned.csv'
df = pd.read_csv(csv_file_path)
df.head(10)

,country_code,region_name,region_code,week,score,rank,country_name,term,refresh_date
0,FR,Aquitaine,FR-B,2019-09-15,57.0,14,France,Apple,2024-06-14
1,FR,Auvergne,FR-C,2019-09-08,83.0,14,France,Apple,2024-06-14
2,FR,Burgundy,FR-D,2019-09-01,100.0,14,France,Apple,2024-06-14
3,FR,Burgundy,FR-D,2021-09-12,62.0,14,France,Apple,2024-06-14
4,FR,Burgundy,FR-D,2021-11-21,64.0,14,France,Apple,2024-06-14
5,FR,Burgundy,FR-D,2022-01-09,51.0,14,France,Apple,2024-06-14
6,FR,Burgundy,FR-D,2022-11-20,62.0,14,France,Apple,2024-06-14
7,FR,Burgundy,FR-D,2022-12-11,51.0,14,France,Apple,2024-06-14
8,FR,Burgundy,FR-D,2023-07-30,51.0,14,France,Apple,2024-06-14
9,FR,Burgundy,FR-D,2023-11-19,60.0,14,France,Apple,2024-06-14

# Splitting the Data in Accordance to the Country

## Australia
```country_name```

```region_name```

```term```

```score```

```mean``` - rows with same region_name and term will have their mean score computed

In [22]:
basket_Australia = (df[df['country_name'] == "Australia"]
          .groupby(['region_name', 'term'])['score'] 
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_Australia)

term                          Alex de Minaur  Alexa Leary  Alice Springs  \
region_name
Australian Capital Territory       62.000000          0.0      57.000000
New South Wales                    56.500000          0.0       0.000000
Northern Territory                100.000000        100.0      77.589744
Queensland                         75.333333          0.0      54.400000
South Australia                    72.000000          0.0      64.214286
Tasmania                           75.000000          0.0      61.000000
Victoria                           59.000000          0.0      65.666667
Western Australia                  82.000000          0.0      66.750000

term                              Apple  Ash Barty  Bacchus Marsh Grammar  \
region_name
Australian Capital Territory  65.750000        0.0                    0.0
New South Wales               67.555556       73.0                  100.0
Northern Territory            63.138889      100.0                    0.0
Queensland                    58.400000        0.0                    0.0
South Australia               58.538462        0.0                    0.0
Tasmania                      65.636364        0.0                    0.0
Victoria                      62.037037       62.0                    0.0
Western Australia             64.038462        0.0                    0.0

term                          Billings  Bird flu  Blue Beetle  Boxing  ...  \
region_name                                                            ...
Australian Capital Territory     100.0       0.0         99.0     0.0  ...
New South Wales                    0.0       0.0         65.0   100.0  ...
Northern Territory                 0.0       0.0          0.0     0.0  ...
Queensland                        71.5       0.0          0.0     0.0  ...
South Australia                   52.0     100.0          0.0     0.0  ...
Tasmania                         100.0       0.0          0.0   100.0  ...
Victoria                           0.0       0.0          0.0    75.0  ...
Western Australia                 72.0      70.0          0.0     0.0  ...

term                          The Boys  Travel Guides  Tsitsipas  \
region_name
Australian Capital Territory      70.0          100.0       65.0
New South Wales                   60.0           68.0        0.0
Northern Territory                 0.0            0.0        0.0
Queensland                        61.0           54.0        0.0
South Australia                   58.0           59.5       96.0
Tasmania                          81.0            0.0      100.0
Victoria                          90.0           55.0        0.0
Western Australia                 70.0          100.0        0.0

term                          U.S. Open golf        UFC  US Open  \
region_name
Australian Capital Territory             0.0  63.333333      0.0
New South Wales                          0.0  60.000000     62.5
Northern Territory                       0.0  67.000000      0.0
Queensland                               0.0  69.333333      0.0
South Australia                          0.0  64.500000      0.0
Tasmania                                 0.0  65.700000      0.0
Victoria                                 0.0  58.909091      0.0
Western Australia                      100.0  76.500000      0.0

term                          US Open golf  Under the Bridge  Vladimir Putin  \
region_name
Australian Capital Territory           0.0               0.0             0.0
New South Wales                        0.0               0.0             0.0
Northern Territory                   100.0               0.0            78.5
Queensland                             0.0               0.0             0.0
South Australia                       87.0              55.0            67.5
Tasmania                               0.0               0.0             0.0
Victoria                               0.0               0.0            57.0
Western Australia                     83.0               0.0             0.0

term                          Willie Mays
region_name
Australian Capital Territory          0.0
New South Wales                     100.0
Northern Territory                    0.0
Queensland                            0.0
South Australia                       0.0
Tasmania                              0.0
Victoria                              0.0
Western Australia                     0.0

[8 rows x 69 columns]

### Conversion to binary vector

In [23]:
def hot_encode(x):
    if(x <= 0): 
        return 0
    if(x >= 1): 
        return 1

basket_encoded = basket_Australia.map(hot_encode) 
basket_Australia = basket_encoded

print(basket_Australia)

term                          Alex de Minaur  Alexa Leary  Alice Springs  \
region_name
Australian Capital Territory               1            0              1
New South Wales                            1            0              0
Northern Territory                         1            1              1
Queensland                                 1            0              1
South Australia                            1            0              1
Tasmania                                   1            0              1
Victoria                                   1            0              1
Western Australia                          1            0              1

term                          Apple  Ash Barty  Bacchus Marsh Grammar  \
region_name
Australian Capital Territory      1          0                      0
New South Wales                   1          1                      1
Northern Territory                1          1                      0
Queensland                        1          0                      0
South Australia                   1          0                      0
Tasmania                          1          0                      0
Victoria                          1          1                      0
Western Australia                 1          0                      0

term                          Billings  Bird flu  Blue Beetle  Boxing  ...  \
region_name                                                            ...
Australian Capital Territory         1         0            1       0  ...
New South Wales                      0         0            1       1  ...
Northern Territory                   0         0            0       0  ...
Queensland                           1         0            0       0  ...
South Australia                      1         1            0       0  ...
Tasmania                             1         0            0       1  ...
Victoria                             0         0            0       1  ...
Western Australia                    1         1            0       0  ...

term                          The Boys  Travel Guides  Tsitsipas  \
region_name
Australian Capital Territory         1              1          1
New South Wales                      1              1          0
Northern Territory                   0              0          0
Queensland                           1              1          0
South Australia                      1              1          1
Tasmania                             1              0          1
Victoria                             1              1          0
Western Australia                    1              1          0

term                          U.S. Open golf  UFC  US Open  US Open golf  \
region_name
Australian Capital Territory               0    1        0             0
New South Wales                            0    1        1             0
Northern Territory                         0    1        0             1
Queensland                                 0    1        0             0
South Australia                            0    1        0             1
Tasmania                                   0    1        0             0
Victoria                                   0    1        0             0
Western Australia                          1    1        0             1

term                          Under the Bridge  Vladimir Putin  Willie Mays
region_name
Australian Capital Territory                 0               0            0
New South Wales                              0               0            1
Northern Territory                           0               1            0
Queensland                                   0               0            0
South Australia                              1               1            0
Tasmania                                     0               0            0
Victoria                                     0               1            0
Western Australia                            0               0            0

[8 rows x 69 columns]

##
```min_support``` - percentage in which the terms occurs together

```min_threshold``` - specifies the minimum confidence or lift for an association rule to be considered significant

```confidence``` - Measures how often the consequent of a rule appears given the antecedent

```lift``` - Indicates the likeliness consequent is to occur when the antecedent is present

In [24]:
frq_items = apriori(basket_Australia.astype('bool'), min_support = 0.9, use_colnames = True)
  
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

display(rules)
save_excel(rules, "Australia")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Alex de Minaur),(Apple),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
1,(Apple),(Alex de Minaur),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
2,(Alex de Minaur),(Champions League),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
3,(Champions League),(Alex de Minaur),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
4,(Alex de Minaur),(Cricket),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
...,...,...,...,...,...,...,...,...,...,...
6045,(NBA),"(Premier League, Champions League, Full moon, ...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
6046,(UFC),"(Premier League, Champions League, Full moon, ...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
6047,(Cricket),"(Premier League, Champions League, Full moon, ...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
6048,(Alex de Minaur),"(Premier League, Champions League, Full moon, ...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
6049,(Apple),"(Premier League, Champions League, Full moon, ...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0

## Argentina

In [25]:
# Top terms in Argentina
basket_Argentina = (df[df['country_name'] == "Argentina"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_Argentina)

term                                Alcaraz    Aldosivi  Alphonso Davies  \
region_name
Autonomous City of Buenos Aires   75.000000   55.000000              0.0
Buenos Aires Province             50.000000   71.500000              0.0
Catamarca Province                 0.000000  100.000000              0.0
Chaco Province                    59.000000    0.000000              0.0
Chubut Province                   57.500000    0.000000              0.0
Cordoba                            0.000000   64.333333              0.0
Corrientes Province               89.000000   57.000000             57.0
Entre Rios                       100.000000    0.000000             70.0
Formosa Province                  75.000000    0.000000              0.0
Jujuy                              0.000000    0.000000              0.0
La Pampa Province                  0.000000   56.000000              0.0
La Rioja Province                  0.000000   66.500000              0.0
Mendoza Province                  78.333333    0.000000              0.0
Misiones Province                 52.000000   67.500000              0.0
Neuquen                            0.000000  100.000000              0.0
Río Negro                          0.000000   62.000000              0.0
Salta Province                     0.000000    0.000000              0.0
San Juan Province                 78.333333    0.000000              0.0
San Luis Province                  0.000000   68.000000              0.0
Santa Cruz Province               87.000000   57.000000              0.0
Santa Fe Province                  0.000000  100.000000              0.0
Santiago del Estero Province      99.000000   63.000000              0.0
Tierra del Fuego Province         80.000000   63.000000              0.0
Tucumán                           56.000000   52.000000              0.0

term                             Atalanta  Fiorentina  Atlanta  \
region_name
Autonomous City of Buenos Aires                   0.0     55.0
Buenos Aires Province                             0.0      0.0
Catamarca Province                                0.0      0.0
Chaco Province                                    0.0      0.0
Chubut Province                                   0.0      0.0
Cordoba                                           0.0      0.0
Corrientes Province                               0.0      0.0
Entre Rios                                        0.0      0.0
Formosa Province                                  0.0      0.0
Jujuy                                             0.0      0.0
La Pampa Province                                 0.0      0.0
La Rioja Province                               100.0      0.0
Mendoza Province                                  0.0      0.0
Misiones Province                                 0.0      0.0
Neuquen                                           0.0     61.0
Río Negro                                         0.0    100.0
Salta Province                                    0.0      0.0
San Juan Province                                 0.0      0.0
San Luis Province                                 0.0      0.0
Santa Cruz Province                               0.0      0.0
Santa Fe Province                                 0.0      0.0
Santiago del Estero Province                      0.0    100.0
Tierra del Fuego Province                         0.0      0.0
Tucumán                                           0.0      0.0

term                             Bandera Argentina    Belgrano  \
region_name
Autonomous City of Buenos Aires                0.0   67.157895
Buenos Aires Province                        100.0  100.000000
Catamarca Province                             0.0  100.000000
Chaco Province                                 0.0   53.000000
Chubut Province                                0.0   73.333333
Cordoba                                        0.0   60.875000
Corrientes Province                            0.0   56.000000
Entre Rios                                    77.5   58.000000
Formosa Province                               0.0    0.000000
Jujuy                                          0.0   59.000000
La Pampa Province                              0.0   64.000000
La Rioja Province                              0.0    0.000000
Mendoza Province                               0.0   74.000000
Misiones Province                             56.0    0.000000
Neuquen                                        0.0   70.285714
Río Negro                                    100.0   83.333333
Salta Province                                88.0   72.000000
San Juan Province                              0.0   81.000000
San Luis Province                              0.0  100.000000
Santa Cruz Province                            0.0    0.000000
Santa Fe Province                              0.0    0.000000
Santiago del Estero Province                   0.0    0.000000
Tierra del Fuego Province                      0.0   56.833333
Tucumán                                        0.0    0.000000

term                             Boca Juniors  Vélez  Boston Celtics  \
region_name
Autonomous City of Buenos Aires                  0.0             0.0
Buenos Aires Province                            0.0            71.0
Catamarca Province                               0.0             0.0
Chaco Province                                   0.0            81.0
Chubut Province                                  0.0             0.0
Cordoba                                        100.0             0.0
Corrientes Province                              0.0            80.0
Entre Rios                                     100.0            52.0
Formosa Province                                 0.0             0.0
Jujuy                                          100.0             0.0
La Pampa Province                                0.0             0.0
La Rioja Province                                0.0             0.0
Mendoza Province                                 0.0             0.0
Misiones Province                                0.0             0.0
Neuquen                                          0.0             0.0
Río Negro                                        0.0            84.0
Salta Province                                 100.0             0.0
San Juan Province                                0.0             0.0
San Luis Province                                0.0             0.0
Santa Cruz Province                              0.0             0.0
Santa Fe Province                                0.0             0.0
Santiago del Estero Province                     0.0             0.0
Tierra del Fuego Province                        0.0             0.0
Tucumán                                        100.0             0.0

term                                 Brasil  ...  San Antonio  \
region_name                                  ...
Autonomous City of Buenos Aires    0.000000  ...    66.473684
Buenos Aires Province              0.000000  ...    61.392857
Catamarca Province                61.000000  ...    56.500000
Chaco Province                    57.000000  ...     0.000000
Chubut Province                    0.000000  ...    57.000000
Cordoba                            0.000000  ...    64.714286
Corrientes Province               50.000000  ...     0.000000
Entre Rios                        72.000000  ...    58.000000
Formosa Province                   0.000000  ...    67.000000
Jujuy                             63.000000  ...    61.916667
La Pampa Province                 68.333333  ...    72.000000
La Rioja Province                 64.000000  ...    75.500000
Mendoza Province                 100.000000  ...    65.000000
Misiones Province                 65.000000  ...    53.333333
Neuquen                            0.000000  ...   100.000000
Río Negro                          0.000000  ...    69.333333
Salta Province                    85.000000  ...    59.600000
San Juan Province                100.000000  ...    85.500000
San Luis Province                 67.333333  ...    86.000000
Santa Cruz Province                0.000000  ...    57.000000
Santa Fe Province                100.000000  ...    60.400000
Santiago del Estero Province      58.000000  ...    53.000000
Tierra del Fuego Province         58.000000  ...     0.000000
Tucumán                            0.000000  ...    62.000000

term                             San Martin de San Juan  \
region_name
Autonomous City of Buenos Aires               73.000000
Buenos Aires Province                         65.333333
Catamarca Province                             0.000000
Chaco Province                                64.000000
Chubut Province                                0.000000
Cordoba                                        0.000000
Corrientes Province                            0.000000
Entre Rios                                     0.000000
Formosa Province                             100.000000
Jujuy                                         97.000000
La Pampa Province                              0.000000
La Rioja Province                            100.000000
Mendoza Province                               0.000000
Misiones Province                              0.000000
Neuquen                                        0.000000
Río Negro                                    100.000000
Salta Province                                 0.000000
San Juan Province                             66.000000
San Luis Province                            100.000000
Santa Cruz Province                            0.000000
Santa Fe Province                            100.000000
Santiago del Estero Province                   0.000000
Tierra del Fuego Province                      0.000000
Tucumán                                        0.000000

term                             San Martín de Tucumán  Alvarado  \
region_name
Autonomous City of Buenos Aires                              0.0
Buenos Aires Province                                       66.0
Catamarca Province                                           0.0
Chaco Province                                               0.0
Chubut Province                                              0.0
Cordoba                                                      0.0
Corrientes Province                                          0.0
Entre Rios                                                   0.0
Formosa Province                                             0.0
Jujuy                                                        0.0
La Pampa Province                                            0.0
La Rioja Province                                            0.0
Mendoza Province                                             0.0
Misiones Province                                            0.0
Neuquen                                                      0.0
Río Negro                                                    0.0
Salta Province                                               0.0
San Juan Province                                            0.0
San Luis Province                                            0.0
Santa Cruz Province                                          0.0
Santa Fe Province                                            0.0
Santiago del Estero Province                                 0.0
Tierra del Fuego Province                                    0.0
Tucumán                                                    100.0

term                             Sandra Pettovello  Sarmiento  Estudiantes  \
region_name
Autonomous City of Buenos Aires                0.0                     0.0
Buenos Aires Province                          0.0                     0.0
Catamarca Province                             0.0                     0.0
Chaco Province                                98.0                     0.0
Chubut Province                               81.0                     0.0
Cordoba                                        0.0                     0.0
Corrientes Province                            0.0                     0.0
Entre Rios                                     0.0                     0.0
Formosa Province                               0.0                     0.0
Jujuy                                          0.0                     0.0
La Pampa Province                              0.0                     0.0
La Rioja Province                              0.0                     0.0
Mendoza Province                               0.0                     0.0
Misiones Province                              0.0                     0.0
Neuquen                                        0.0                   100.0
Río Negro                                      0.0                     0.0
Salta Province                                 0.0                   100.0
San Juan Province                              0.0                     0.0
San Luis Province                              0.0                     0.0
Santa Cruz Province                          100.0                   100.0
Santa Fe Province                              0.0                    50.0
Santiago del Estero Province                   0.0                     0.0
Tierra del Fuego Province                      0.0                     0.0
Tucumán                                        0.0                     0.0

term                                 Sinner          TN    The Boys  \
region_name
Autonomous City of Buenos Aires    0.000000    0.000000   70.666667
Buenos Aires Province              0.000000   61.500000   64.000000
Catamarca Province                 0.000000   72.000000   85.000000
Chaco Province                    74.000000   57.000000   81.000000
Chubut Province                   62.000000   63.600000    0.000000
Cordoba                           97.000000   63.000000   51.000000
Corrientes Province                0.000000   50.000000    0.000000
Entre Rios                        71.000000   55.333333    0.000000
Formosa Province                 100.000000   76.000000  100.000000
Jujuy                              0.000000   70.000000    0.000000
La Pampa Province                  0.000000   59.000000    0.000000
La Rioja Province                  0.000000   57.666667  100.000000
Mendoza Province                  82.000000   60.666667   68.000000
Misiones Province                 86.000000   63.333333    0.000000
Neuquen                            0.000000    0.000000    0.000000
Río Negro                         72.000000  100.000000    0.000000
Salta Province                     0.000000    0.000000    0.000000
San Juan Province                  0.000000   57.333333   83.666667
San Luis Province                  0.000000  100.000000    0.000000
Santa Cruz Province                0.000000   63.500000    0.000000
Santa Fe Province                 94.333333   63.000000   83.000000
Santiago del Estero Province       0.000000    0.000000   82.000000
Tierra del Fuego Province          0.000000   57.000000   68.000000
Tucumán                            0.000000    0.000000   87.500000

term                             The Truman Show  Tigre  Belgrano
region_name
Autonomous City of Buenos Aires              0.0            100.0
Buenos Aires Province                        0.0              0.0
Catamarca Province                           0.0              0.0
Chaco Province                               0.0              0.0
Chubut Province                              0.0              0.0
Cordoba                                      0.0              0.0
Corrientes Province                          0.0              0.0
Entre Rios                                   0.0              0.0
Formosa Province                             0.0              0.0
Jujuy                                        0.0              0.0
La Pampa Province                            0.0              0.0
La Rioja Province                            0.0              0.0
Mendoza Province                             0.0              0.0
Misiones Province                            0.0              0.0
Neuquen                                     82.0              0.0
Río Negro                                    0.0              0.0
Salta Province                               0.0              0.0
San Juan Province                            0.0              0.0
San Luis Province                            0.0              0.0
Santa Cruz Province                          0.0              0.0
Santa Fe Province                          100.0              0.0
Santiago del Estero Province                 0.0             86.0
Tierra del Fuego Province                  100.0              0.0
Tucumán                                      0.0              0.0

[24 rows x 75 columns]

In [26]:
basket_encoded_Argentina = basket_Argentina.map(hot_encode) 
basket_Argentina = basket_encoded_Argentina

In [27]:
frq_items = apriori(basket_Argentina.astype('bool'), min_support = 0.5, use_colnames = True)
   
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "Argentina")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
37,(Bridgerton),(Independiente),0.625000,0.875,0.625000,1.0,1.142857,0.078125,inf,0.333333
52,(Copa america),(San Antonio),0.500000,0.875,0.500000,1.0,1.142857,0.062500,inf,0.250000
93,"(Alcaraz, Bridgerton)",(Independiente),0.500000,0.875,0.500000,1.0,1.142857,0.062500,inf,0.250000
355,"(Futbol argentino, Bridgerton)",(Independiente),0.541667,0.875,0.541667,1.0,1.142857,0.067708,inf,0.272727
361,"(Bridgerton, Primera división)",(Independiente),0.541667,0.875,0.541667,1.0,1.142857,0.067708,inf,0.272727
...,...,...,...,...,...,...,...,...,...,...
2759,(River),"(TN, Independiente, Racing, San Antonio)",1.000000,0.500,0.500000,0.5,1.000000,0.000000,1.0,0.000000
2843,(River),"(Racing, Aldosivi, San Antonio, Primera divisi...",1.000000,0.500,0.500000,0.5,1.000000,0.000000,1.0,0.000000
2998,(River),"(Racing, TN, Primera división, Futbol argentin...",1.000000,0.500,0.500000,0.5,1.000000,0.000000,1.0,0.000000
3040,(River),"(San Antonio, TN, Primera división, Futbol arg...",1.000000,0.500,0.500000,0.5,1.000000,0.000000,1.0,0.000000
3091,(River),"(Racing, San Antonio, TN, Futbol argentino, In...",1.000000,0.500,0.500000,0.5,1.000000,0.000000,1.0,0.000000

## Philippines

In [28]:
# Top terms in Philippines
basket_Philippines = (df[df['country_name'] == "Philippines"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_Philippines)

term                                     19     Access  Angelina Jolie  \
region_name
Autonomous Region in Muslim Mindanao    0.0  59.750000        0.000000
Bicol                                  67.0  65.137931        0.000000
Cagayan Valley                          0.0  63.428571        0.000000
Calabarzon                             72.0  70.625000        0.000000
Caraga                                100.0  66.866667       92.000000
Central Luzon                          96.0  67.862069        0.000000
Central Visayas                        58.0  69.111111       59.000000
Cordillera Administrative Region        0.0  69.312500      100.000000
Davao Region                           56.5  65.172414       76.333333
Eastern Visayas                        67.0  59.500000        0.000000
Ilocos Region                           0.0  59.772727       76.000000
MIMAROPA                                0.0  64.111111        0.000000
Metro Manila                            0.0  77.787879       56.000000
Northern Mindanao                      77.0  68.307692       61.333333
SOCCSKSARGEN                           88.5  66.666667       53.000000
Western Visayas                        60.0  65.333333       69.600000
Zamboanga Peninsula                    68.0  66.400000        0.000000

term                                  Anouk Aimée  Athens greece  \
region_name
Autonomous Region in Muslim Mindanao          0.0            0.0
Bicol                                         0.0            0.0
Cagayan Valley                                0.0          100.0
Calabarzon                                    0.0           72.0
Caraga                                        0.0          100.0
Central Luzon                                 0.0           86.0
Central Visayas                             100.0            0.0
Cordillera Administrative Region              0.0            0.0
Davao Region                                  0.0            0.0
Eastern Visayas                               0.0          100.0
Ilocos Region                                 0.0            0.0
MIMAROPA                                      0.0            0.0
Metro Manila                                  0.0            0.0
Northern Mindanao                             0.0            0.0
SOCCSKSARGEN                                  0.0            0.0
Western Visayas                               0.0            0.0
Zamboanga Peninsula                           0.0          100.0

term                                  Ayungin Shoal  Boston vs Dallas Game 3  \
region_name
Autonomous Region in Muslim Mindanao            0.0                      0.0
Bicol                                           0.0                      0.0
Cagayan Valley                                  0.0                      0.0
Calabarzon                                      0.0                      0.0
Caraga                                          0.0                      0.0
Central Luzon                                   0.0                      0.0
Central Visayas                               100.0                      0.0
Cordillera Administrative Region              100.0                      0.0
Davao Region                                    0.0                    100.0
Eastern Visayas                                 0.0                      0.0
Ilocos Region                                   0.0                      0.0
MIMAROPA                                      100.0                      0.0
Metro Manila                                  100.0                      0.0
Northern Mindanao                             100.0                      0.0
SOCCSKSARGEN                                    0.0                      0.0
Western Visayas                                 0.0                      0.0
Zamboanga Peninsula                             0.0                      0.0

term                                  Bridgerton Season 3 Part 2  \
region_name
Autonomous Region in Muslim Mindanao                         0.0
Bicol                                                        0.0
Cagayan Valley                                               0.0
Calabarzon                                                   0.0
Caraga                                                       0.0
Central Luzon                                                0.0
Central Visayas                                              0.0
Cordillera Administrative Region                             0.0
Davao Region                                                 0.0
Eastern Visayas                                             87.0
Ilocos Region                                                0.0
MIMAROPA                                                     0.0
Metro Manila                                                 0.0
Northern Mindanao                                          100.0
SOCCSKSARGEN                                                 0.0
Western Visayas                                              0.0
Zamboanga Peninsula                                          0.0

term                                  CJ de Silva Promil  Caitlin Clark  ...  \
region_name                                                              ...
Autonomous Region in Muslim Mindanao                 0.0            0.0  ...
Bicol                                                0.0            0.0  ...
Cagayan Valley                                     100.0            0.0  ...
Calabarzon                                           0.0            0.0  ...
Caraga                                               0.0            0.0  ...
Central Luzon                                        0.0            0.0  ...
Central Visayas                                      0.0            0.0  ...
Cordillera Administrative Region                     0.0            0.0  ...
Davao Region                                         0.0            0.0  ...
Eastern Visayas                                      0.0            0.0  ...
Ilocos Region                                        0.0            0.0  ...
MIMAROPA                                             0.0            0.0  ...
Metro Manila                                       100.0           65.0  ...
Northern Mindanao                                    0.0            0.0  ...
SOCCSKSARGEN                                         0.0            0.0  ...
Western Visayas                                      0.0            0.0  ...
Zamboanga Peninsula                                  0.0            0.0  ...

term                                  Star Magic All-Star Games 2024  \
region_name
Autonomous Region in Muslim Mindanao                             0.0
Bicol                                                            0.0
Cagayan Valley                                                   0.0
Calabarzon                                                       0.0
Caraga                                                           0.0
Central Luzon                                                    0.0
Central Visayas                                                  0.0
Cordillera Administrative Region                                 0.0
Davao Region                                                   100.0
Eastern Visayas                                                  0.0
Ilocos Region                                                    0.0
MIMAROPA                                                         0.0
Metro Manila                                                     0.0
Northern Mindanao                                                0.0
SOCCSKSARGEN                                                     0.0
Western Visayas                                                  0.0
Zamboanga Peninsula                                            100.0

term                                  Stiff Person Syndrome  Tarisland  \
region_name
Autonomous Region in Muslim Mindanao                    0.0        0.0
Bicol                                                   0.0        0.0
Cagayan Valley                                          0.0        0.0
Calabarzon                                            100.0        0.0
Caraga                                                  0.0      100.0
Central Luzon                                           0.0        0.0
Central Visayas                                         0.0      100.0
Cordillera Administrative Region                        0.0        0.0
Davao Region                                            0.0        0.0
Eastern Visayas                                       100.0      100.0
Ilocos Region                                           0.0       68.0
MIMAROPA                                                0.0      100.0
Metro Manila                                            0.0        0.0
Northern Mindanao                                     100.0        0.0
SOCCSKSARGEN                                            0.0        0.0
Western Visayas                                         0.0        0.0
Zamboanga Peninsula                                     0.0        0.0

term                                  Taylor Swift  Trump         UFC  \
region_name
Autonomous Region in Muslim Mindanao         55.00    0.0   89.000000
Bicol                                         0.00    0.0   54.500000
Cagayan Valley                               73.00    0.0   86.000000
Calabarzon                                   69.75    0.0   68.000000
Caraga                                       84.00    0.0    0.000000
Central Luzon                                54.00  100.0   54.833333
Central Visayas                               0.00    0.0   64.000000
Cordillera Administrative Region              0.00    0.0   66.142857
Davao Region                                  0.00    0.0   57.333333
Eastern Visayas                               0.00    0.0  100.000000
Ilocos Region                                60.00    0.0   62.333333
MIMAROPA                                     51.00   64.0    0.000000
Metro Manila                                 53.00    0.0   65.666667
Northern Mindanao                            63.00    0.0   53.500000
SOCCSKSARGEN                                  0.00    0.0   77.500000
Western Visayas                              51.00    0.0   77.750000
Zamboanga Peninsula                         100.00   75.5    0.000000

term                                  Vladimir Putin  \
region_name
Autonomous Region in Muslim Mindanao             0.0
Bicol                                            0.0
Cagayan Valley                                   0.0
Calabarzon                                     100.0
Caraga                                           0.0
Central Luzon                                    0.0
Central Visayas                                  0.0
Cordillera Administrative Region                 0.0
Davao Region                                     0.0
Eastern Visayas                                  0.0
Ilocos Region                                    0.0
MIMAROPA                                         0.0
Metro Manila                                     0.0
Northern Mindanao                               75.0
SOCCSKSARGEN                                     0.0
Western Visayas                                  0.0
Zamboanga Peninsula                             78.0

term                                  When is Father's Day in 2024  \
region_name
Autonomous Region in Muslim Mindanao                           0.0
Bicol                                                          0.0
Cagayan Valley                                                 0.0
Calabarzon                                                   100.0
Caraga                                                         0.0
Central Luzon                                                 58.0
Central Visayas                                               56.0
Cordillera Administrative Region                             100.0
Davao Region                                                  50.0
Eastern Visayas                                                0.0
Ilocos Region                                                 82.5
MIMAROPA                                                       0.0
Metro Manila                                                   0.0
Northern Mindanao                                              0.0
SOCCSKSARGEN                                                   0.0
Western Visayas                                                0.0
Zamboanga Peninsula                                            0.0

term                                  Yoyong martirez  iOS 18
region_name
Autonomous Region in Muslim Mindanao              0.0     0.0
Bicol                                             0.0     0.0
Cagayan Valley                                    0.0     0.0
Calabarzon                                        0.0     0.0
Caraga                                            0.0     0.0
Central Luzon                                     0.0     0.0
Central Visayas                                   0.0     0.0
Cordillera Administrative Region                  0.0   100.0
Davao Region                                    100.0   100.0
Eastern Visayas                                   0.0     0.0
Ilocos Region                                     0.0   100.0
MIMAROPA                                          0.0     0.0
Metro Manila                                      0.0     0.0
Northern Mindanao                                 0.0   100.0
SOCCSKSARGEN                                    100.0    65.0
Western Visayas                                   0.0     0.0
Zamboanga Peninsula                               0.0     0.0

[17 rows x 74 columns]

In [29]:
basket_encoded_Philippines = basket_Philippines.map(hot_encode) 
basket_Philippines = basket_encoded_Philippines

print(basket_Philippines)

term                                  19  Access  Angelina Jolie  Anouk Aimée  \
region_name
Autonomous Region in Muslim Mindanao   0       1               0            0
Bicol                                  1       1               0            0
Cagayan Valley                         0       1               0            0
Calabarzon                             1       1               0            0
Caraga                                 1       1               1            0
Central Luzon                          1       1               0            0
Central Visayas                        1       1               1            1
Cordillera Administrative Region       0       1               1            0
Davao Region                           1       1               1            0
Eastern Visayas                        1       1               0            0
Ilocos Region                          0       1               1            0
MIMAROPA                               0       1               0            0
Metro Manila                           0       1               1            0
Northern Mindanao                      1       1               1            0
SOCCSKSARGEN                           1       1               1            0
Western Visayas                        1       1               1            0
Zamboanga Peninsula                    1       1               0            0

term                                  Athens greece  Ayungin Shoal  \
region_name
Autonomous Region in Muslim Mindanao              0              0
Bicol                                             0              0
Cagayan Valley                                    1              0
Calabarzon                                        1              0
Caraga                                            1              0
Central Luzon                                     1              0
Central Visayas                                   0              1
Cordillera Administrative Region                  0              1
Davao Region                                      0              0
Eastern Visayas                                   1              0
Ilocos Region                                     0              0
MIMAROPA                                          0              1
Metro Manila                                      0              1
Northern Mindanao                                 0              1
SOCCSKSARGEN                                      0              0
Western Visayas                                   0              0
Zamboanga Peninsula                               1              0

term                                  Boston vs Dallas Game 3  \
region_name
Autonomous Region in Muslim Mindanao                        0
Bicol                                                       0
Cagayan Valley                                              0
Calabarzon                                                  0
Caraga                                                      0
Central Luzon                                               0
Central Visayas                                             0
Cordillera Administrative Region                            0
Davao Region                                                1
Eastern Visayas                                             0
Ilocos Region                                               0
MIMAROPA                                                    0
Metro Manila                                                0
Northern Mindanao                                           0
SOCCSKSARGEN                                                0
Western Visayas                                             0
Zamboanga Peninsula                                         0

term                                  Bridgerton Season 3 Part 2  \
region_name
Autonomous Region in Muslim Mindanao                           0
Bicol                                                          0
Cagayan Valley                                                 0
Calabarzon                                                     0
Caraga                                                         0
Central Luzon                                                  0
Central Visayas                                                0
Cordillera Administrative Region                               0
Davao Region                                                   0
Eastern Visayas                                                1
Ilocos Region                                                  0
MIMAROPA                                                       0
Metro Manila                                                   0
Northern Mindanao                                              1
SOCCSKSARGEN                                                   0
Western Visayas                                                0
Zamboanga Peninsula                                            0

term                                  CJ de Silva Promil  Caitlin Clark  ...  \
region_name                                                              ...
Autonomous Region in Muslim Mindanao                   0              0  ...
Bicol                                                  0              0  ...
Cagayan Valley                                         1              0  ...
Calabarzon                                             0              0  ...
Caraga                                                 0              0  ...
Central Luzon                                          0              0  ...
Central Visayas                                        0              0  ...
Cordillera Administrative Region                       0              0  ...
Davao Region                                           0              0  ...
Eastern Visayas                                        0              0  ...
Ilocos Region                                          0              0  ...
MIMAROPA                                               0              0  ...
Metro Manila                                           1              1  ...
Northern Mindanao                                      0              0  ...
SOCCSKSARGEN                                           0              0  ...
Western Visayas                                        0              0  ...
Zamboanga Peninsula                                    0              0  ...

term                                  Star Magic All-Star Games 2024  \
region_name
Autonomous Region in Muslim Mindanao                               0
Bicol                                                              0
Cagayan Valley                                                     0
Calabarzon                                                         0
Caraga                                                             0
Central Luzon                                                      0
Central Visayas                                                    0
Cordillera Administrative Region                                   0
Davao Region                                                       1
Eastern Visayas                                                    0
Ilocos Region                                                      0
MIMAROPA                                                           0
Metro Manila                                                       0
Northern Mindanao                                                  0
SOCCSKSARGEN                                                       0
Western Visayas                                                    0
Zamboanga Peninsula                                                1

term                                  Stiff Person Syndrome  Tarisland  \
region_name
Autonomous Region in Muslim Mindanao                      0          0
Bicol                                                     0          0
Cagayan Valley                                            0          0
Calabarzon                                                1          0
Caraga                                                    0          1
Central Luzon                                             0          0
Central Visayas                                           0          1
Cordillera Administrative Region                          0          0
Davao Region                                              0          0
Eastern Visayas                                           1          1
Ilocos Region                                             0          1
MIMAROPA                                                  0          1
Metro Manila                                              0          0
Northern Mindanao                                         1          0
SOCCSKSARGEN                                              0          0
Western Visayas                                           0          0
Zamboanga Peninsula                                       0          0

term                                  Taylor Swift  Trump  UFC  \
region_name
Autonomous Region in Muslim Mindanao             1      0    1
Bicol                                            0      0    1
Cagayan Valley                                   1      0    1
Calabarzon                                       1      0    1
Caraga                                           1      0    0
Central Luzon                                    1      1    1
Central Visayas                                  0      0    1
Cordillera Administrative Region                 0      0    1
Davao Region                                     0      0    1
Eastern Visayas                                  0      0    1
Ilocos Region                                    1      0    1
MIMAROPA                                         1      1    0
Metro Manila                                     1      0    1
Northern Mindanao                                1      0    1
SOCCSKSARGEN                                     0      0    1
Western Visayas                                  1      0    1
Zamboanga Peninsula                              1      1    0

term                                  Vladimir Putin  \
region_name
Autonomous Region in Muslim Mindanao               0
Bicol                                              0
Cagayan Valley                                     0
Calabarzon                                         1
Caraga                                             0
Central Luzon                                      0
Central Visayas                                    0
Cordillera Administrative Region                   0
Davao Region                                       0
Eastern Visayas                                    0
Ilocos Region                                      0
MIMAROPA                                           0
Metro Manila                                       0
Northern Mindanao                                  1
SOCCSKSARGEN                                       0
Western Visayas                                    0
Zamboanga Peninsula                                1

term                                  When is Father's Day in 2024  \
region_name
Autonomous Region in Muslim Mindanao                             0
Bicol                                                            0
Cagayan Valley                                                   0
Calabarzon                                                       1
Caraga                                                           0
Central Luzon                                                    1
Central Visayas                                                  1
Cordillera Administrative Region                                 1
Davao Region                                                     1
Eastern Visayas                                                  0
Ilocos Region                                                    1
MIMAROPA                                                         0
Metro Manila                                                     0
Northern Mindanao                                                0
SOCCSKSARGEN                                                     0
Western Visayas                                                  0
Zamboanga Peninsula                                              0

term                                  Yoyong martirez  iOS 18
region_name
Autonomous Region in Muslim Mindanao                0       0
Bicol                                               0       0
Cagayan Valley                                      0       0
Calabarzon                                          0       0
Caraga                                              0       0
Central Luzon                                       0       0
Central Visayas                                     0       0
Cordillera Administrative Region                    0       1
Davao Region                                        1       1
Eastern Visayas                                     0       0
Ilocos Region                                       0       1
MIMAROPA                                            0       0
Metro Manila                                        0       0
Northern Mindanao                                   0       1
SOCCSKSARGEN                                        1       1
Western Visayas                                     0       0
Zamboanga Peninsula                                 0       0

[17 rows x 74 columns]

In [30]:
frq_items = apriori(basket_Philippines.astype('bool'), min_support = 0.8, use_colnames = True)

print("After frequent Items")
 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "Philippines")

After frequent Items

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(ESPN NBA),(Access),0.882353,1.000000,0.882353,1.000000,1.0,0.0,inf,0.0
2,(Jose Rizal),(Access),0.823529,1.000000,0.823529,1.000000,1.0,0.0,inf,0.0
4,(June),(Access),1.000000,1.000000,1.000000,1.000000,1.0,0.0,inf,0.0
5,(Access),(June),1.000000,1.000000,1.000000,1.000000,1.0,0.0,inf,0.0
6,(NBA),(Access),1.000000,1.000000,1.000000,1.000000,1.0,0.0,inf,0.0
...,...,...,...,...,...,...,...,...,...,...
1440,(June),"(NBA, NBA games, Sports, Access, UFC)",1.000000,0.823529,0.823529,0.823529,1.0,0.0,1.0,0.0
1441,(NBA),"(June, NBA games, Sports, Access, UFC)",1.000000,0.823529,0.823529,0.823529,1.0,0.0,1.0,0.0
1442,(NBA games),"(June, NBA, Sports, Access, UFC)",1.000000,0.823529,0.823529,0.823529,1.0,0.0,1.0,0.0
1443,(Sports),"(June, NBA, NBA games, Access, UFC)",1.000000,0.823529,0.823529,0.823529,1.0,0.0,1.0,0.0
1444,(Access),"(June, NBA, NBA games, Sports, UFC)",1.000000,0.823529,0.823529,0.823529,1.0,0.0,1.0,0.0

## South Korea

In [31]:
# Top terms in South Korea
basket_SouthKorea = (df[df['country_name'] == "South Korea"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_SouthKorea)

term                 CPI        NBA   WWDC    강민구    고준희    권경애    김계란    김레아  \
region_name
Busan                0.0  63.333333    0.0    0.0    0.0    0.0   83.5    0.0
Chungcheongbuk-do    0.0  63.666667    0.0    0.0    0.0    0.0    0.0   80.0
Chungcheongnam-do   77.0  60.571429    0.0  100.0  100.0    0.0   56.0    0.0
Daegu                0.0  59.000000    0.0    0.0    0.0    0.0   52.0   94.0
Daejeon            100.0  55.500000    0.0    0.0    0.0  100.0    0.0    0.0
Gangwon-do           0.0  54.000000    0.0    0.0    0.0    0.0  100.0    0.0
Gwangju            100.0  62.000000    0.0    0.0    0.0    0.0   84.0  100.0
Gyeonggi-do         77.5  61.571429    0.0  100.0    0.0    0.0   64.5    0.0
Gyeongsangbuk-do     0.0  64.894737    0.0    0.0    0.0    0.0   61.5    0.0
Gyeongsangnam-do     0.0  54.000000  100.0  100.0    0.0    0.0   67.0    0.0
Incheon             59.0  54.500000    0.0    0.0   52.0    0.0   62.0    0.0
Jeju-do              0.0  61.076923  100.0   82.0    0.0    0.0    0.0    0.0
Jeollabuk-do         0.0  59.750000    0.0    0.0    0.0    0.0    0.0    0.0
Jeollanam-do         0.0  63.375000   85.5    0.0    0.0    0.0    0.0    0.0
Seoul               50.0  64.000000   90.0    0.0    0.0    0.0    0.0    0.0
Ulsan                0.0  67.428571    0.0    0.0    0.0    0.0   87.5    0.0

term                 김미성  노스트라다무스 예언  ...    최형우  카자흐스탄   코리아컵     태국  \
region_name                           ...
Busan                0.0         0.0  ...    0.0   59.0    0.0   85.0
Chungcheongbuk-do    0.0         0.0  ...    0.0    0.0    0.0    0.0
Chungcheongnam-do    0.0       100.0  ...    0.0    0.0    0.0    0.0
Daegu                0.0       100.0  ...  100.0    0.0    0.0    0.0
Daejeon              0.0         0.0  ...    0.0    0.0    0.0    0.0
Gangwon-do           0.0        57.0  ...    0.0    0.0    0.0    0.0
Gwangju              0.0         0.0  ...    0.0    0.0    0.0    0.0
Gyeonggi-do          0.0         0.0  ...    0.0    0.0  100.0  100.0
Gyeongsangbuk-do     0.0         0.0  ...    0.0    0.0    0.0    0.0
Gyeongsangnam-do     0.0         0.0  ...    0.0  100.0    0.0    0.0
Incheon            100.0         0.0  ...    0.0  100.0  100.0    0.0
Jeju-do              0.0         0.0  ...  100.0    0.0    0.0    0.0
Jeollabuk-do         0.0         0.0  ...    0.0    0.0   88.0   93.0
Jeollanam-do       100.0         0.0  ...    0.0    0.0    0.0  100.0
Seoul                0.0         0.0  ...    0.0   64.5    0.0   94.0
Ulsan                0.0        50.0  ...  100.0    0.0    0.0    0.0

term               태국 동성결혼  테라 권도형  투르크메니스탄    프랑스         한국    한채영
region_name
Busan                  0.0   100.0      0.0    0.0  59.625000   77.0
Chungcheongbuk-do      0.0     0.0      0.0    0.0  55.666667  100.0
Chungcheongnam-do      0.0     0.0      0.0    0.0  57.750000   96.0
Daegu                  0.0     0.0    100.0    0.0  60.444444    0.0
Daejeon                0.0     0.0      0.0    0.0  56.000000  100.0
Gangwon-do             0.0     0.0      0.0    0.0  53.666667  100.0
Gwangju                0.0     0.0      0.0   54.0  52.888889  100.0
Gyeonggi-do            0.0     0.0      0.0  100.0  53.000000   75.0
Gyeongsangbuk-do       0.0     0.0      0.0    0.0  56.000000    0.0
Gyeongsangnam-do       0.0     0.0      0.0    0.0  59.000000    0.0
Incheon                0.0     0.0      0.0    0.0  54.000000    0.0
Jeju-do                0.0     0.0      0.0    0.0  52.714286    0.0
Jeollabuk-do           0.0     0.0      0.0    0.0  53.000000   61.0
Jeollanam-do           0.0     0.0      0.0    0.0  55.200000    0.0
Seoul                  0.0     0.0      0.0    0.0  56.500000  100.0
Ulsan                100.0     0.0      0.0  100.0  55.800000    0.0

[16 rows x 45 columns]

In [32]:
basket_encoded_SouthKorea = basket_SouthKorea.map(hot_encode) 
basket_SouthKorea = basket_encoded_SouthKorea

print(basket_SouthKorea)

term               CPI  NBA  WWDC  강민구  고준희  권경애  김계란  김레아  김미성  노스트라다무스 예언  \
region_name
Busan                0    1     0    0    0    0    1    0    0           0
Chungcheongbuk-do    0    1     0    0    0    0    0    1    0           0
Chungcheongnam-do    1    1     0    1    1    0    1    0    0           1
Daegu                0    1     0    0    0    0    1    1    0           1
Daejeon              1    1     0    0    0    1    0    0    0           0
Gangwon-do           0    1     0    0    0    0    1    0    0           1
Gwangju              1    1     0    0    0    0    1    1    0           0
Gyeonggi-do          1    1     0    1    0    0    1    0    0           0
Gyeongsangbuk-do     0    1     0    0    0    0    1    0    0           0
Gyeongsangnam-do     0    1     1    1    0    0    1    0    0           0
Incheon              1    1     0    0    1    0    1    0    1           0
Jeju-do              0    1     1    1    0    0    0    0    0           0
Jeollabuk-do         0    1     0    0    0    0    0    0    0           0
Jeollanam-do         0    1     1    0    0    0    0    0    1           0
Seoul                1    1     1    0    0    0    0    0    0           0
Ulsan                0    1     0    0    0    0    1    0    0           1

term               ...  최형우  카자흐스탄  코리아컵  태국  태국 동성결혼  테라 권도형  투르크메니스탄  프랑스  \
region_name        ...
Busan              ...    0      1     0   1        0       1        0    0
Chungcheongbuk-do  ...    0      0     0   0        0       0        0    0
Chungcheongnam-do  ...    0      0     0   0        0       0        0    0
Daegu              ...    1      0     0   0        0       0        1    0
Daejeon            ...    0      0     0   0        0       0        0    0
Gangwon-do         ...    0      0     0   0        0       0        0    0
Gwangju            ...    0      0     0   0        0       0        0    1
Gyeonggi-do        ...    0      0     1   1        0       0        0    1
Gyeongsangbuk-do   ...    0      0     0   0        0       0        0    0
Gyeongsangnam-do   ...    0      1     0   0        0       0        0    0
Incheon            ...    0      1     1   0        0       0        0    0
Jeju-do            ...    1      0     0   0        0       0        0    0
Jeollabuk-do       ...    0      0     1   1        0       0        0    0
Jeollanam-do       ...    0      0     0   1        0       0        0    0
Seoul              ...    0      1     0   1        0       0        0    0
Ulsan              ...    1      0     0   0        1       0        0    1

term               한국  한채영
region_name
Busan               1    1
Chungcheongbuk-do   1    1
Chungcheongnam-do   1    1
Daegu               1    0
Daejeon             1    1
Gangwon-do          1    1
Gwangju             1    1
Gyeonggi-do         1    1
Gyeongsangbuk-do    1    0
Gyeongsangnam-do    1    0
Incheon             1    0
Jeju-do             1    0
Jeollabuk-do        1    1
Jeollanam-do        1    0
Seoul               1    1
Ulsan               1    0

[16 rows x 45 columns]

In [33]:
frq_items = apriori(basket_SouthKorea.astype('bool'), min_support = 0.8, use_colnames = True)

print("After frequent Items")
 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "South_Korea")

After frequent Items

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(라이엇),(NBA),0.9375,1.0000,0.9375,1.0000,1.0,0.0,inf,0.0
3,(리그오브레전드),(NBA),0.8750,1.0000,0.8750,1.0000,1.0,0.0,inf,0.0
4,(메이플스토리),(NBA),1.0000,1.0000,1.0000,1.0000,1.0,0.0,inf,0.0
5,(NBA),(메이플스토리),1.0000,1.0000,1.0000,1.0000,1.0,0.0,inf,0.0
6,(NBA),(엔비디아),1.0000,1.0000,1.0000,1.0000,1.0,0.0,inf,0.0
...,...,...,...,...,...,...,...,...,...,...
435,"(메이플스토리, 엔비디아)","(NBA, 라이엇, 한국, 리그오브레전드)",1.0000,0.8125,0.8125,0.8125,1.0,0.0,1.0,0.0
436,(한국),"(리그오브레전드, NBA, 라이엇, 메이플스토리, 엔비디아)",1.0000,0.8125,0.8125,0.8125,1.0,0.0,1.0,0.0
437,(NBA),"(한국, 리그오브레전드, 라이엇, 메이플스토리, 엔비디아)",1.0000,0.8125,0.8125,0.8125,1.0,0.0,1.0,0.0
438,(메이플스토리),"(한국, 리그오브레전드, NBA, 라이엇, 엔비디아)",1.0000,0.8125,0.8125,0.8125,1.0,0.0,1.0,0.0
439,(엔비디아),"(한국, 리그오브레전드, NBA, 라이엇, 메이플스토리)",1.0000,0.8125,0.8125,0.8125,1.0,0.0,1.0,0.0

## Finland

In [34]:
# Top terms in Finland
basket_Finland = (df[df['country_name'] == "Finland"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_Finland)

term                   Adam Lambert  Albania       Alko      Apple  Barkov  \
region_name
Central Finland                 0.0    100.0  59.333333  59.500000     0.0
Central Ostrobothnia            0.0      0.0  63.000000  58.000000     0.0
Kainuu                        100.0     94.0  50.000000  82.500000     0.0
Kymenlaakso                     0.0      0.0  52.500000  61.000000     0.0
Lapland                       100.0      0.0  69.250000  57.333333     0.0
North Karelia                   0.0    100.0  57.000000  59.200000     0.0
Northern Ostrobothnia          76.0     88.0  73.000000  64.166667   100.0
Northern Savonia                0.0     75.0   0.000000  62.100000     0.0
Ostrobothnia                    0.0      0.0  62.000000  57.900000     0.0
Pirkanmaa                       0.0      0.0  71.500000  54.166667     0.0
Päijänne Tavastia               0.0      0.0  61.000000  53.714286     0.0
Satakunta                       0.0      0.0  86.000000  69.500000    63.0
South Karelia                   0.0      0.0  74.666667  59.000000    52.0
Southern Ostrobothnia           0.0      0.0  68.000000  58.777778     0.0
Southern Savonia                0.0      0.0  65.000000  55.400000   100.0
Southwest Finland               0.0     64.0  59.000000  61.769231     0.0
Tavastia Proper                 0.0      0.0  69.000000  60.833333     0.0
Uusimaa                        52.0      0.0  64.000000  56.500000     0.0

term                   Bellingham  Billie Eilish  Birds of Prey  Black Ops 6  \
region_name
Central Finland               0.0            0.0            0.0        100.0
Central Ostrobothnia          0.0            0.0            0.0          0.0
Kainuu                      100.0            0.0            0.0          0.0
Kymenlaakso                  82.0           51.0            0.0          0.0
Lapland                       0.0            0.0            0.0          0.0
North Karelia                 0.0            0.0            0.0          0.0
Northern Ostrobothnia         0.0           62.5            0.0          0.0
Northern Savonia              0.0           73.5            0.0          0.0
Ostrobothnia                  0.0            0.0            0.0          0.0
Pirkanmaa                     0.0           61.5          100.0          0.0
Päijänne Tavastia             0.0            0.0            0.0        100.0
Satakunta                     0.0           62.0            0.0          0.0
South Karelia               100.0           82.0            0.0          0.0
Southern Ostrobothnia       100.0            0.0            0.0          0.0
Southern Savonia             92.0          100.0            0.0          0.0
Southwest Finland            93.0           79.0            0.0          0.0
Tavastia Proper              58.0           94.0            0.0          0.0
Uusimaa                       0.0           53.0            0.0          0.0

term                   Bridgerton  ...  Star Wars  Stonehenge  The Boys  \
region_name                        ...
Central Finland         75.000000  ...       59.0       100.0       0.0
Central Ostrobothnia     0.000000  ...      100.0         0.0       0.0
Kainuu                   0.000000  ...        0.0         0.0       0.0
Kymenlaakso              0.000000  ...        0.0         0.0       0.0
Lapland                 89.333333  ...      100.0         0.0      77.0
North Karelia           53.000000  ...        0.0         0.0       0.0
Northern Ostrobothnia   57.000000  ...        0.0         0.0       0.0
Northern Savonia        51.000000  ...        0.0       100.0      80.0
Ostrobothnia             0.000000  ...      100.0         0.0       0.0
Pirkanmaa               72.500000  ...       93.0         0.0      69.0
Päijänne Tavastia       73.500000  ...        0.0         0.0       0.0
Satakunta                0.000000  ...       62.0         0.0       0.0
South Karelia           80.000000  ...       53.5         0.0       0.0
Southern Ostrobothnia    0.000000  ...      100.0         0.0       0.0
Southern Savonia         0.000000  ...        0.0         0.0      92.0
Southwest Finland       75.000000  ...       99.0         0.0       0.0
Tavastia Proper         87.500000  ...       72.5         0.0       0.0
Uusimaa                 86.000000  ...      100.0         0.0      76.5

term                   The Left  Toni Kroos        UFC     Vietnam  \
region_name
Central Finland             0.0        94.0  65.000000    0.000000
Central Ostrobothnia        0.0         0.0   0.000000    0.000000
Kainuu                     82.0         0.0   0.000000    0.000000
Kymenlaakso               100.0         0.0   0.000000    0.000000
Lapland                     0.0       100.0   0.000000    0.000000
North Karelia               0.0         0.0   0.000000    0.000000
Northern Ostrobothnia       0.0         0.0  53.000000   76.000000
Northern Savonia            0.0       100.0  80.000000    0.000000
Ostrobothnia              100.0         0.0  78.000000    0.000000
Pirkanmaa                   0.0         0.0  58.000000   66.545455
Päijänne Tavastia           0.0         0.0  87.000000    0.000000
Satakunta                 100.0         0.0   0.000000    0.000000
South Karelia             100.0       100.0  70.000000    0.000000
Southern Ostrobothnia     100.0         0.0   0.000000  100.000000
Southern Savonia            0.0         0.0   0.000000    0.000000
Southwest Finland           0.0       100.0  55.000000   67.000000
Tavastia Proper             0.0         0.0  76.000000   59.000000
Uusimaa                     0.0        64.0  68.666667   60.562500

term                   Wembley Stadium  Whitney Houston  iOS 18
region_name
Central Finland                    0.0              0.0     0.0
Central Ostrobothnia               0.0              0.0   100.0
Kainuu                             0.0              0.0   100.0
Kymenlaakso                        0.0              0.0     0.0
Lapland                            0.0              0.0   100.0
North Karelia                      0.0              0.0     0.0
Northern Ostrobothnia              0.0              0.0     0.0
Northern Savonia                   0.0              0.0     0.0
Ostrobothnia                       0.0              0.0    90.0
Pirkanmaa                          0.0             52.0     0.0
Päijänne Tavastia                100.0              0.0     0.0
Satakunta                          0.0              0.0     0.0
South Karelia                      0.0              0.0     0.0
Southern Ostrobothnia              0.0              0.0     0.0
Southern Savonia                   0.0              0.0     0.0
Southwest Finland                  0.0              0.0     0.0
Tavastia Proper                    0.0              0.0     0.0
Uusimaa                            0.0             75.0     0.0

[18 rows x 70 columns]

In [35]:
basket_encoded_Finland = basket_Finland.map(hot_encode) 
basket_Finland = basket_encoded_Finland

print(basket_Finland)

term                   Adam Lambert  Albania  Alko  Apple  Barkov  Bellingham  \
region_name
Central Finland                   0        1     1      1       0           0
Central Ostrobothnia              0        0     1      1       0           0
Kainuu                            1        1     1      1       0           1
Kymenlaakso                       0        0     1      1       0           1
Lapland                           1        0     1      1       0           0
North Karelia                     0        1     1      1       0           0
Northern Ostrobothnia             1        1     1      1       1           0
Northern Savonia                  0        1     0      1       0           0
Ostrobothnia                      0        0     1      1       0           0
Pirkanmaa                         0        0     1      1       0           0
Päijänne Tavastia                 0        0     1      1       0           0
Satakunta                         0        0     1      1       1           0
South Karelia                     0        0     1      1       1           1
Southern Ostrobothnia             0        0     1      1       0           1
Southern Savonia                  0        0     1      1       1           1
Southwest Finland                 0        1     1      1       0           1
Tavastia Proper                   0        0     1      1       0           1
Uusimaa                           1        0     1      1       0           0

term                   Billie Eilish  Birds of Prey  Black Ops 6  Bridgerton  \
region_name
Central Finland                    0              0            1           1
Central Ostrobothnia               0              0            0           0
Kainuu                             0              0            0           0
Kymenlaakso                        1              0            0           0
Lapland                            0              0            0           1
North Karelia                      0              0            0           1
Northern Ostrobothnia              1              0            0           1
Northern Savonia                   1              0            0           1
Ostrobothnia                       0              0            0           0
Pirkanmaa                          1              1            0           1
Päijänne Tavastia                  0              0            1           1
Satakunta                          1              0            0           0
South Karelia                      1              0            0           1
Southern Ostrobothnia              0              0            0           0
Southern Savonia                   1              0            0           0
Southwest Finland                  1              0            0           1
Tavastia Proper                    1              0            0           1
Uusimaa                            1              0            0           1

term                   ...  Star Wars  Stonehenge  The Boys  The Left  \
region_name            ...
Central Finland        ...          1           1         0         0
Central Ostrobothnia   ...          1           0         0         0
Kainuu                 ...          0           0         0         1
Kymenlaakso            ...          0           0         0         1
Lapland                ...          1           0         1         0
North Karelia          ...          0           0         0         0
Northern Ostrobothnia  ...          0           0         0         0
Northern Savonia       ...          0           1         1         0
Ostrobothnia           ...          1           0         0         1
Pirkanmaa              ...          1           0         1         0
Päijänne Tavastia      ...          0           0         0         0
Satakunta              ...          1           0         0         1
South Karelia          ...          1           0         0         1
Southern Ostrobothnia  ...          1           0         0         1
Southern Savonia       ...          0           0         1         0
Southwest Finland      ...          1           0         0         0
Tavastia Proper        ...          1           0         0         0
Uusimaa                ...          1           0         1         0

term                   Toni Kroos  UFC  Vietnam  Wembley Stadium  \
region_name
Central Finland                 1    1        0                0
Central Ostrobothnia            0    0        0                0
Kainuu                          0    0        0                0
Kymenlaakso                     0    0        0                0
Lapland                         1    0        0                0
North Karelia                   0    0        0                0
Northern Ostrobothnia           0    1        1                0
Northern Savonia                1    1        0                0
Ostrobothnia                    0    1        0                0
Pirkanmaa                       0    1        1                0
Päijänne Tavastia               0    1        0                1
Satakunta                       0    0        0                0
South Karelia                   1    1        0                0
Southern Ostrobothnia           0    0        1                0
Southern Savonia                0    0        0                0
Southwest Finland               1    1        1                0
Tavastia Proper                 0    1        1                0
Uusimaa                         1    1        1                0

term                   Whitney Houston  iOS 18
region_name
Central Finland                      0       0
Central Ostrobothnia                 0       1
Kainuu                               0       1
Kymenlaakso                          0       0
Lapland                              0       1
North Karelia                        0       0
Northern Ostrobothnia                0       0
Northern Savonia                     0       0
Ostrobothnia                         0       1
Pirkanmaa                            1       0
Päijänne Tavastia                    0       0
Satakunta                            0       0
South Karelia                        0       0
Southern Ostrobothnia                0       0
Southern Savonia                     0       0
Southwest Finland                    0       0
Tavastia Proper                      0       0
Uusimaa                              1       0

[18 rows x 70 columns]

In [36]:
frq_items = apriori(basket_Finland.astype('bool'), min_support = 0.3, use_colnames = True)
  
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "Finland")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1103,"(Bridgerton, Billie Eilish)","(Nvidia, UFC)",0.388889,0.500000,0.388889,1.000000,2.0,0.194444,inf,0.818182
1423,"(Alko, Bridgerton, Billie Eilish)","(Nvidia, UFC)",0.333333,0.500000,0.333333,1.000000,2.0,0.166667,inf,0.750000
1452,"(Apple, Bridgerton, Billie Eilish)","(Nvidia, UFC)",0.388889,0.500000,0.388889,1.000000,2.0,0.194444,inf,0.818182
1459,"(Bridgerton, Billie Eilish)","(Apple, Nvidia, UFC)",0.388889,0.500000,0.388889,1.000000,2.0,0.194444,inf,0.818182
1482,"(Apple, Alko, Bridgerton, Billie Eilish)","(Nvidia, UFC)",0.333333,0.500000,0.333333,1.000000,2.0,0.166667,inf,0.750000
...,...,...,...,...,...,...,...,...,...,...
1331,(Apple),"(Ronaldo, Real Madrid, Alko, Nvidia)",1.000000,0.333333,0.333333,0.333333,1.0,0.000000,1.0,0.000000
1353,(Apple),"(Ronaldo, Alko, Nvidia, Star Wars)",1.000000,0.333333,0.333333,0.333333,1.0,0.000000,1.0,0.000000
1383,(Apple),"(Ronaldo, Alko, Nvidia, UFC)",1.000000,0.333333,0.333333,0.333333,1.0,0.000000,1.0,0.000000
1413,(Apple),"(Alko, Nvidia, Star Wars, UFC)",1.000000,0.333333,0.333333,0.333333,1.0,0.000000,1.0,0.000000
1529,(Apple),"(Billie Eilish, Alko, Nvidia, Bridgerton, UFC)",1.000000,0.333333,0.333333,0.333333,1.0,0.000000,1.0,0.000000

## United Kingdom

In [37]:
# Top terms in United Kingdom
basket_UK = (df[df['country_name'] == "United Kingdom"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_UK)

term              Alan Shearer  Albania      Apple  BGT final  Bath Rugby  \
region_name
England                    0.0      0.0  58.176471       74.0        50.0
Northern Ireland          73.5      0.0  56.909091        0.0         0.0
Scotland                   0.0      0.0  62.238095        0.0        59.5
Wales                     58.0     74.0  56.444444        0.0        67.0

term              Billings  Billy Harris  Bridgerton  Britain's Got Talent  \
region_name
England                0.0         100.0         0.0                   0.0
Northern Ireland      94.0           0.0         0.0                   0.0
Scotland               0.0           0.0        61.0                 100.0
Wales                 64.0           0.0         0.0                   0.0

term              Carlo Ancelotti  ...  Sara Cox   Scotland  Slovenia  Spain  \
region_name                        ...
England                     100.0  ...       0.0   0.000000     100.0    0.0
Northern Ireland             98.5  ...       0.0   0.000000       0.0   61.0
Scotland                      0.0  ...       0.0  56.083333       0.0    0.0
Wales                         0.0  ...      50.0  85.666667       0.0   52.0

term              The Boys  Tiger Woods  Tommy Robinson         UCL  \
region_name
England              100.0          0.0            70.0   56.461538
Northern Ireland       0.0         71.0             0.0   62.250000
Scotland              75.0          0.0           100.0   84.500000
Wales                 53.0        100.0             0.0  100.000000

term                    UFC  Vladimir Putin
region_name
England           54.800000           100.0
Northern Ireland  64.500000             0.0
Scotland          66.666667             0.0
Wales             54.666667             0.0

[4 rows x 52 columns]

In [38]:
basket_encoded_UK = basket_UK.map(hot_encode) 
basket_UK = basket_encoded_UK

print(basket_UK)

term              Alan Shearer  Albania  Apple  BGT final  Bath Rugby  \
region_name
England                      0        0      1          1           1
Northern Ireland             1        0      1          0           0
Scotland                     0        0      1          0           1
Wales                        1        1      1          0           1

term              Billings  Billy Harris  Bridgerton  Britain's Got Talent  \
region_name
England                  0             1           0                     0
Northern Ireland         1             0           0                     0
Scotland                 0             0           1                     1
Wales                    1             0           0                     0

term              Carlo Ancelotti  ...  Sara Cox  Scotland  Slovenia  Spain  \
region_name                        ...
England                         1  ...         0         0         1      0
Northern Ireland                1  ...         0         0         0      1
Scotland                        0  ...         0         1         0      0
Wales                           0  ...         1         1         0      1

term              The Boys  Tiger Woods  Tommy Robinson  UCL  UFC  \
region_name
England                  1            0               1    1    1
Northern Ireland         0            1               0    1    1
Scotland                 1            0               1    1    1
Wales                    1            1               0    1    1

term              Vladimir Putin
region_name
England                        1
Northern Ireland               0
Scotland                       0
Wales                          0

[4 rows x 52 columns]

In [39]:
frq_items = apriori(basket_UK.astype('bool'), min_support = 0.8, use_colnames = True)
  
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "United_Kingdom")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(England football),(Apple),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
1,(Apple),(England football),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
2,(Gary Glitter),(Apple),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
3,(Apple),(Gary Glitter),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
4,(Love Island),(Apple),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
...,...,...,...,...,...,...,...,...,...,...
597,(Apple),"(Love Island, England football, UCL, Gary Glit...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
598,(England football),"(Love Island, Apple, UCL, Gary Glitter, UFC)",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
599,(UCL),"(Love Island, Apple, England football, Gary Gl...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
600,(Gary Glitter),"(Love Island, Apple, England football, UCL, UFC)",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
601,(UFC),"(Love Island, England football, UCL, Gary Glit...",1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0

In [40]:
basket_SF = (df[df['country_name'] == "South Africa"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_SF)

term               Apple  Argentina vs Canada  Bangladesh vs Netherlands  \
region_name
Eastern Cape   62.692308                  0.0                        0.0
Free State     60.250000                 81.0                        0.0
Gauteng        64.727273                  0.0                        0.0
KwaZulu-Natal  64.923077                  0.0                        0.0
Limpopo        59.074074                  0.0                        0.0
Mpumalanga     58.285714                  0.0                       85.0
North West     61.071429                  0.0                        0.0
Northern Cape  63.500000                  0.0                        0.0
Western Cape   69.081081                  0.0                        0.0

term           Baroka FC  Bridgerton  Charley Hull  Coco Gauff  \
region_name
Eastern Cape   51.000000   87.000000           0.0         0.0
Free State      0.000000    0.000000           0.0       100.0
Gauteng        55.000000   58.000000          83.0        50.0
KwaZulu-Natal  59.000000    0.000000           0.0        79.0
Limpopo        70.333333   70.666667           0.0        61.0
Mpumalanga      0.000000    0.000000           0.0         0.0
North West      0.000000   81.000000           0.0       100.0
Northern Cape  54.000000   79.000000           0.0         0.0
Western Cape    0.000000   54.000000           0.0         0.0

term           Cricket World Cup  Croatia vs Albania  Cyril Ramaphosa  ...  \
region_name                                                            ...
Eastern Cape                 0.0                 0.0        91.000000  ...
Free State                  80.8                 0.0        77.333333  ...
Gauteng                     71.0                 0.0        59.000000  ...
KwaZulu-Natal               66.0               100.0        93.000000  ...
Limpopo                     66.0                53.0        82.500000  ...
Mpumalanga                   0.0                 0.0         0.000000  ...
North West                  54.0                 0.0         0.000000  ...
Northern Cape               63.0                 0.0         0.000000  ...
Western Cape                61.0                 0.0         0.000000  ...

term           Thami Ntuli    The Boys  Tony Leon  U.S. Open  U.S. Open golf  \
region_name
Eastern Cape           0.0   87.000000      100.0        0.0             0.0
Free State             0.0    0.000000        0.0        0.0           100.0
Gauteng                0.0   76.000000       70.0       66.0             0.0
KwaZulu-Natal          0.0   66.750000        0.0      100.0             0.0
Limpopo               67.0    0.000000        0.0      100.0             0.0
Mpumalanga             0.0   69.666667       84.0        0.0             0.0
North West             0.0  100.000000        0.0        0.0             0.0
Northern Cape          0.0    0.000000        0.0        0.0             0.0
Western Cape         100.0   55.000000      100.0        0.0             0.0

term           Vinicius Junior  West Indies vs England  Who won the election  \
region_name
Eastern Cape               0.0                   100.0                  86.5
Free State               100.0                     0.0                 100.0
Gauteng                   80.0                     0.0                   0.0
KwaZulu-Natal              0.0                    51.0                   0.0
Limpopo                    0.0                     0.0                  71.0
Mpumalanga               100.0                     0.0                  93.0
North West                 0.0                     0.0                  68.0
Northern Cape              0.0                    80.0                   0.0
Western Cape             100.0                    60.0                   0.0

term           Winter solstice  iOS 18
region_name
Eastern Cape               0.0     0.0
Free State                 0.0     0.0
Gauteng                    0.0     0.0
KwaZulu-Natal              0.0     0.0
Limpopo                    0.0    84.0
Mpumalanga               100.0     0.0
North West                 0.0   100.0
Northern Cape              0.0     0.0
Western Cape               0.0   100.0

[9 rows x 64 columns]

In [41]:
basket_encoded_SF = basket_SF.map(hot_encode) 
basket_SF = basket_encoded_SF

print(basket_SF)

term           Apple  Argentina vs Canada  Bangladesh vs Netherlands  \
region_name
Eastern Cape       1                    0                          0
Free State         1                    1                          0
Gauteng            1                    0                          0
KwaZulu-Natal      1                    0                          0
Limpopo            1                    0                          0
Mpumalanga         1                    0                          1
North West         1                    0                          0
Northern Cape      1                    0                          0
Western Cape       1                    0                          0

term           Baroka FC  Bridgerton  Charley Hull  Coco Gauff  \
region_name
Eastern Cape           1           1             0           0
Free State             0           0             0           1
Gauteng                1           1             1           1
KwaZulu-Natal          1           0             0           1
Limpopo                1           1             0           1
Mpumalanga             0           0             0           0
North West             0           1             0           1
Northern Cape          1           1             0           0
Western Cape           0           1             0           0

term           Cricket World Cup  Croatia vs Albania  Cyril Ramaphosa  ...  \
region_name                                                            ...
Eastern Cape                   0                   0                1  ...
Free State                     1                   0                1  ...
Gauteng                        1                   0                1  ...
KwaZulu-Natal                  1                   1                1  ...
Limpopo                        1                   1                1  ...
Mpumalanga                     0                   0                0  ...
North West                     1                   0                0  ...
Northern Cape                  1                   0                0  ...
Western Cape                   1                   0                0  ...

term           Thami Ntuli  The Boys  Tony Leon  U.S. Open  U.S. Open golf  \
region_name
Eastern Cape             0         1          1          0               0
Free State               0         0          0          0               1
Gauteng                  0         1          1          1               0
KwaZulu-Natal            0         1          0          1               0
Limpopo                  1         0          0          1               0
Mpumalanga               0         1          1          0               0
North West               0         1          0          0               0
Northern Cape            0         0          0          0               0
Western Cape             1         1          1          0               0

term           Vinicius Junior  West Indies vs England  Who won the election  \
region_name
Eastern Cape                 0                       1                     1
Free State                   1                       0                     1
Gauteng                      1                       0                     0
KwaZulu-Natal                0                       1                     0
Limpopo                      0                       0                     1
Mpumalanga                   1                       0                     1
North West                   0                       0                     1
Northern Cape                0                       1                     0
Western Cape                 1                       1                     0

term           Winter solstice  iOS 18
region_name
Eastern Cape                 0       0
Free State                   0       0
Gauteng                      0       0
KwaZulu-Natal                0       0
Limpopo                      0       1
Mpumalanga                   1       0
North West                   0       1
Northern Cape                0       0
Western Cape                 0       1

[9 rows x 64 columns]

In [42]:
frq_items = apriori(basket_SF.astype('bool'), min_support = 0.5, use_colnames = True)
 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "South_Africa")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
358,"(Malawi, Cricket World Cup)",(Lesotho),0.555556,0.555556,0.555556,1.000000,1.8,0.246914,inf,1.0
359,(Lesotho),"(Malawi, Cricket World Cup)",0.555556,0.555556,0.555556,1.000000,1.8,0.246914,inf,1.0
370,"(Poetry, Cricket World Cup)",(Lesotho),0.555556,0.555556,0.555556,1.000000,1.8,0.246914,inf,1.0
371,(Lesotho),"(Poetry, Cricket World Cup)",0.555556,0.555556,0.555556,1.000000,1.8,0.246914,inf,1.0
727,"(Apple, Malawi, Cricket World Cup)",(Lesotho),0.555556,0.555556,0.555556,1.000000,1.8,0.246914,inf,1.0
...,...,...,...,...,...,...,...,...,...,...
4409,(Apple),"(Poetry, Malawi, Orlando Pirates, Lesotho, Sou...",1.000000,0.555556,0.555556,0.555556,1.0,0.000000,1.0,0.0
4471,(Apple),"(Poetry, Malawi, Orlando Pirates, T20 World Cu...",1.000000,0.555556,0.555556,0.555556,1.0,0.000000,1.0,0.0
4529,(Apple),"(Poetry, The Boys, Malawi, Orlando Pirates, So...",1.000000,0.555556,0.555556,0.555556,1.0,0.000000,1.0,0.0
4779,(Apple),"(Poetry, Malawi, Cricket World Cup, Orlando Pi...",1.000000,0.555556,0.555556,0.555556,1.0,0.000000,1.0,0.0
4905,(Apple),"(Poetry, Malawi, ICC Cricket World Cup, Orland...",1.000000,0.555556,0.555556,0.555556,1.0,0.000000,1.0,0.0

In [43]:
basket_Canada = (df[df['country_name'] == "Canada"]
          .groupby(['region_name', 'term'])['score']
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_Canada)

term                       Alex Caruso   Billings  Bobrovsky  Bridgerton  \
region_name
Alberta                          100.0  56.500000        0.0         0.0
British Columbia                   0.0   0.000000      100.0        57.0
Manitoba                           0.0  84.000000        0.0         0.0
New Brunswick                      0.0   0.000000        0.0         0.0
Newfoundland and Labrador          0.0   0.000000        0.0        76.5
Northwest Territories              0.0   0.000000        0.0         0.0
Nova Scotia                        0.0   0.000000        0.0        71.0
Nunavut                            0.0   0.000000      100.0         0.0
Ontario                           54.0  68.400000       86.0         0.0
Prince Edward Island               0.0   0.000000       94.0        71.5
Québec                            63.0  58.363636        0.0        85.0
Saskatchewan                       0.0  59.750000        0.0        84.0
Yukon Territory                    0.0   0.000000        0.0         0.0

term                       Bridgerton Season 4     Buffalo  Canada Soccer  \
region_name
Alberta                                    0.0  100.000000      80.500000
British Columbia                           0.0    0.000000      50.000000
Manitoba                                   0.0   75.000000       0.000000
New Brunswick                              0.0  100.000000       0.000000
Newfoundland and Labrador                  0.0   71.666667       0.000000
Northwest Territories                      0.0   82.000000       0.000000
Nova Scotia                              100.0   56.000000       0.000000
Nunavut                                    0.0    0.000000       0.000000
Ontario                                    0.0    0.000000       0.000000
Prince Edward Island                       0.0   58.500000     100.000000
Québec                                   100.0    0.000000       0.000000
Saskatchewan                               0.0   57.400000      70.333333
Yukon Territory                            0.0    0.000000       0.000000

term                       Celtics vs Mavericks  Chennedy Carter  \
region_name
Alberta                                     0.0             91.5
British Columbia                            0.0              0.0
Manitoba                                    0.0              0.0
New Brunswick                               0.0              0.0
Newfoundland and Labrador                   0.0              0.0
Northwest Territories                       0.0              0.0
Nova Scotia                                53.0              0.0
Nunavut                                     0.0              0.0
Ontario                                     0.0              0.0
Prince Edward Island                        0.0             80.0
Québec                                      0.0              0.0
Saskatchewan                                0.0              0.0
Yukon Territory                             0.0              0.0

term                       Churchill Falls  ...  Shake Shack Toronto  \
region_name                                 ...
Alberta                              66.00  ...                  0.0
British Columbia                     86.75  ...                  0.0
Manitoba                              0.00  ...                  0.0
New Brunswick                         0.00  ...                  0.0
Newfoundland and Labrador             0.00  ...                  0.0
Northwest Territories                 0.00  ...                 53.0
Nova Scotia                           0.00  ...                  0.0
Nunavut                               0.00  ...                  0.0
Ontario                               0.00  ...                  0.0
Prince Edward Island                  0.00  ...                  0.0
Québec                                0.00  ...                  0.0
Saskatchewan                          0.00  ...                100.0
Yukon Territory                       0.00  ...                  0.0

term                       Simone Biles   Spain  Strawberry Moon  The Boys  \
region_name
Alberta                             0.0   0.000              0.0     78.00
British Columbia                    0.0  89.500              0.0     66.00
Manitoba                            0.0  70.500              0.0      0.00
New Brunswick                       0.0   0.000              0.0     78.50
Newfoundland and Labrador         100.0  59.375             90.0     81.00
Northwest Territories               0.0   0.000            100.0      0.00
Nova Scotia                       100.0  55.500             69.0     66.40
Nunavut                             0.0  64.000              0.0      0.00
Ontario                             0.0   0.000              0.0     82.25
Prince Edward Island                0.0  50.000              0.0    100.00
Québec                              0.0   0.000              0.0      0.00
Saskatchewan                        0.0  75.500              0.0     53.00
Yukon Territory                     0.0   0.000              0.0      0.00

term                       Tiger Woods  Tom Brady  Travis Scott  \
region_name
Alberta                            0.0        0.0           0.0
British Columbia                   0.0        0.0           0.0
Manitoba                           0.0        0.0           0.0
New Brunswick                      0.0        0.0         100.0
Newfoundland and Labrador          0.0        0.0           0.0
Northwest Territories              0.0      100.0           0.0
Nova Scotia                      100.0        0.0           0.0
Nunavut                            0.0        0.0           0.0
Ontario                            0.0        0.0           0.0
Prince Edward Island               0.0        0.0           0.0
Québec                             0.0      100.0           0.0
Saskatchewan                       0.0        0.0           0.0
Yukon Territory                  100.0      100.0           0.0

term                       U.S. Open golf  Vaughan shooting
region_name
Alberta                             100.0             100.0
British Columbia                    100.0               0.0
Manitoba                              0.0               0.0
New Brunswick                         0.0              78.0
Newfoundland and Labrador             0.0               0.0
Northwest Territories                 0.0               0.0
Nova Scotia                           0.0               0.0
Nunavut                               0.0               0.0
Ontario                               0.0               0.0
Prince Edward Island                  0.0               0.0
Québec                                0.0               0.0
Saskatchewan                          0.0               0.0
Yukon Territory                       0.0               0.0

[13 rows x 61 columns]

In [44]:
basket_encoded_Canada = basket_Canada.map(hot_encode) 
basket_Canada = basket_encoded_Canada

print(basket_Canada)

term                       Alex Caruso  Billings  Bobrovsky  Bridgerton  \
region_name
Alberta                              1         1          0           0
British Columbia                     0         0          1           1
Manitoba                             0         1          0           0
New Brunswick                        0         0          0           0
Newfoundland and Labrador            0         0          0           1
Northwest Territories                0         0          0           0
Nova Scotia                          0         0          0           1
Nunavut                              0         0          1           0
Ontario                              1         1          1           0
Prince Edward Island                 0         0          1           1
Québec                               1         1          0           1
Saskatchewan                         0         1          0           1
Yukon Territory                      0         0          0           0

term                       Bridgerton Season 4  Buffalo  Canada Soccer  \
region_name
Alberta                                      0        1              1
British Columbia                             0        0              1
Manitoba                                     0        1              0
New Brunswick                                0        1              0
Newfoundland and Labrador                    0        1              0
Northwest Territories                        0        1              0
Nova Scotia                                  1        1              0
Nunavut                                      0        0              0
Ontario                                      0        0              0
Prince Edward Island                         0        1              1
Québec                                       1        0              0
Saskatchewan                                 0        1              1
Yukon Territory                              0        0              0

term                       Celtics vs Mavericks  Chennedy Carter  \
region_name
Alberta                                       0                1
British Columbia                              0                0
Manitoba                                      0                0
New Brunswick                                 0                0
Newfoundland and Labrador                     0                0
Northwest Territories                         0                0
Nova Scotia                                   1                0
Nunavut                                       0                0
Ontario                                       0                0
Prince Edward Island                          0                1
Québec                                        0                0
Saskatchewan                                  0                0
Yukon Territory                               0                0

term                       Churchill Falls  ...  Shake Shack Toronto  \
region_name                                 ...
Alberta                                  1  ...                    0
British Columbia                         1  ...                    0
Manitoba                                 0  ...                    0
New Brunswick                            0  ...                    0
Newfoundland and Labrador                0  ...                    0
Northwest Territories                    0  ...                    1
Nova Scotia                              0  ...                    0
Nunavut                                  0  ...                    0
Ontario                                  0  ...                    0
Prince Edward Island                     0  ...                    0
Québec                                   0  ...                    0
Saskatchewan                             0  ...                    1
Yukon Territory                          0  ...                    0

term                       Simone Biles  Spain  Strawberry Moon  The Boys  \
region_name
Alberta                               0      0                0         1
British Columbia                      0      1                0         1
Manitoba                              0      1                0         0
New Brunswick                         0      0                0         1
Newfoundland and Labrador             1      1                1         1
Northwest Territories                 0      0                1         0
Nova Scotia                           1      1                1         1
Nunavut                               0      1                0         0
Ontario                               0      0                0         1
Prince Edward Island                  0      1                0         1
Québec                                0      0                0         0
Saskatchewan                          0      1                0         1
Yukon Territory                       0      0                0         0

term                       Tiger Woods  Tom Brady  Travis Scott  \
region_name
Alberta                              0          0             0
British Columbia                     0          0             0
Manitoba                             0          0             0
New Brunswick                        0          0             1
Newfoundland and Labrador            0          0             0
Northwest Territories                0          1             0
Nova Scotia                          1          0             0
Nunavut                              0          0             0
Ontario                              0          0             0
Prince Edward Island                 0          0             0
Québec                               0          1             0
Saskatchewan                         0          0             0
Yukon Territory                      1          1             0

term                       U.S. Open golf  Vaughan shooting
region_name
Alberta                                 1                 1
British Columbia                        1                 0
Manitoba                                0                 0
New Brunswick                           0                 1
Newfoundland and Labrador               0                 0
Northwest Territories                   0                 0
Nova Scotia                             0                 0
Nunavut                                 0                 0
Ontario                                 0                 0
Prince Edward Island                    0                 0
Québec                                  0                 0
Saskatchewan                            0                 0
Yukon Territory                         0                 0

[13 rows x 61 columns]

In [45]:
frq_items = apriori(basket_Canada.astype('bool'), min_support = 0.4, use_colnames = True)
  
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 

display(rules)
save_excel(rules, "Canada")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
426,"(Buffalo, PGA)","(The Boys, LPGA)",0.461538,0.538462,0.461538,1.000000,1.857143,0.213018,inf,0.857143
625,"(Oilers, The Boys)","(PGA, Rangers)",0.461538,0.538462,0.461538,1.000000,1.857143,0.213018,inf,0.857143
673,"(Buffalo, Et, PGA)","(The Boys, LPGA)",0.461538,0.538462,0.461538,1.000000,1.857143,0.213018,inf,0.857143
684,"(Buffalo, PGA)","(Et, The Boys, LPGA)",0.461538,0.538462,0.461538,1.000000,1.857143,0.213018,inf,0.857143
728,"(Et, Oilers, The Boys)","(Rangers, PGA)",0.461538,0.538462,0.461538,1.000000,1.857143,0.213018,inf,0.857143
...,...,...,...,...,...,...,...,...,...,...
586,(Et),"(Oilers, The Boys, Rangers)",1.000000,0.461538,0.461538,0.461538,1.000000,0.000000,1.0,0.000000
658,(Et),"(Oilers, Buffalo, LPGA, Rangers)",1.000000,0.461538,0.461538,0.461538,1.000000,0.000000,1.0,0.000000
688,(Et),"(Buffalo, The Boys, LPGA, PGA)",1.000000,0.461538,0.461538,0.461538,1.000000,0.000000,1.0,0.000000
718,(Et),"(Rangers, The Boys, LPGA, PGA)",1.000000,0.461538,0.461538,0.461538,1.000000,0.000000,1.0,0.000000
748,(Et),"(Rangers, Oilers, The Boys, PGA)",1.000000,0.461538,0.461538,0.461538,1.000000,0.000000,1.0,0.000000