In [7]:
import pandas as pd
import numpy as np 
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Import the cleaned dataset
csv_file_path = '..\\dataset\\international_top_terms_cleaned.csv'
df = pd.read_csv(csv_file_path)
df.head()

,country_code,region_name,region_code,week,score,rank,country_name,term,refresh_date
0,FR,Aquitaine,FR-B,2019-09-15,57.0,14,France,Apple,2024-06-14
1,FR,Auvergne,FR-C,2019-09-08,83.0,14,France,Apple,2024-06-14
2,FR,Burgundy,FR-D,2019-09-01,100.0,14,France,Apple,2024-06-14
3,FR,Burgundy,FR-D,2021-09-12,62.0,14,France,Apple,2024-06-14
4,FR,Burgundy,FR-D,2021-11-21,64.0,14,France,Apple,2024-06-14

In [3]:
df.columns

Index(['country_code', 'region_name', 'region_code', 'week', 'score', 'rank',
       'country_name', 'term', 'refresh_date'],
      dtype='object')

In [4]:
# Splitting the data in accordance to the country

# Top Terms in Australia
basket_Australia = (df[df['country_name'] == "Australia"]
          .groupby(['region_name', 'term'])['score'] 
          .mean().unstack().reset_index().fillna(0)
          .set_index('region_name'))

print(basket_Australia)

term                          Alex de Minaur  Alexa Leary  Alice Springs  \
region_name
Australian Capital Territory       62.000000          0.0      57.000000
New South Wales                    56.500000          0.0       0.000000
Northern Territory                100.000000        100.0      77.589744
Queensland                         75.333333          0.0      54.400000
South Australia                    72.000000          0.0      64.214286
Tasmania                           75.000000          0.0      61.000000
Victoria                           59.000000          0.0      65.666667
Western Australia                  82.000000          0.0      66.750000

term                              Apple  Ash Barty  Bacchus Marsh Grammar  \
region_name
Australian Capital Territory  65.750000        0.0                    0.0
New South Wales               67.555556       73.0                  100.0
Northern Territory            63.138889      100.0                    0.0
Queensland                    58.400000        0.0                    0.0
South Australia               58.538462        0.0                    0.0
Tasmania                      65.636364        0.0                    0.0
Victoria                      62.037037       62.0                    0.0
Western Australia             64.038462        0.0                    0.0

term                          Billings  Bird flu  Blue Beetle  Boxing  ...  \
region_name                                                            ...
Australian Capital Territory     100.0       0.0         99.0     0.0  ...
New South Wales                    0.0       0.0         65.0   100.0  ...
Northern Territory                 0.0       0.0          0.0     0.0  ...
Queensland                        71.5       0.0          0.0     0.0  ...
South Australia                   52.0     100.0          0.0     0.0  ...
Tasmania                         100.0       0.0          0.0   100.0  ...
Victoria                           0.0       0.0          0.0    75.0  ...
Western Australia                 72.0      70.0          0.0     0.0  ...

term                          The Boys  Travel Guides  Tsitsipas  \
region_name
Australian Capital Territory      70.0          100.0       65.0
New South Wales                   60.0           68.0        0.0
Northern Territory                 0.0            0.0        0.0
Queensland                        61.0           54.0        0.0
South Australia                   58.0           59.5       96.0
Tasmania                          81.0            0.0      100.0
Victoria                          90.0           55.0        0.0
Western Australia                 70.0          100.0        0.0

term                          U.S. Open golf        UFC  US Open  \
region_name
Australian Capital Territory             0.0  63.333333      0.0
New South Wales                          0.0  60.000000     62.5
Northern Territory                       0.0  67.000000      0.0
Queensland                               0.0  69.333333      0.0
South Australia                          0.0  64.500000      0.0
Tasmania                                 0.0  65.700000      0.0
Victoria                                 0.0  58.909091      0.0
Western Australia                      100.0  76.500000      0.0

term                          US Open golf  Under the Bridge  Vladimir Putin  \
region_name
Australian Capital Territory           0.0               0.0             0.0
New South Wales                        0.0               0.0             0.0
Northern Territory                   100.0               0.0            78.5
Queensland                             0.0               0.0             0.0
South Australia                       87.0              55.0            67.5
Tasmania                               0.0               0.0             0.0
Victoria                               0.0               0.0            57.0
Western Australia                     83.0               0.0             0.0

term                          Willie Mays
region_name
Australian Capital Territory          0.0
New South Wales                     100.0
Northern Territory                    0.0
Queensland                            0.0
South Australia                       0.0
Tasmania                              0.0
Victoria                              0.0
Western Australia                     0.0

[8 rows x 69 columns]

In [5]:
def hot_encode(x):
    if(x <= 0): 
        return 0
    if(x >= 1): 
        return 1

basket_encoded = basket_Australia.map(hot_encode) 
basket_Australia = basket_encoded

print(basket_Australia)

term                          Alex de Minaur  Alexa Leary  Alice Springs  \
region_name
Australian Capital Territory               1            0              1
New South Wales                            1            0              0
Northern Territory                         1            1              1
Queensland                                 1            0              1
South Australia                            1            0              1
Tasmania                                   1            0              1
Victoria                                   1            0              1
Western Australia                          1            0              1

term                          Apple  Ash Barty  Bacchus Marsh Grammar  \
region_name
Australian Capital Territory      1          0                      0
New South Wales                   1          1                      1
Northern Territory                1          1                      0
Queensland                        1          0                      0
South Australia                   1          0                      0
Tasmania                          1          0                      0
Victoria                          1          1                      0
Western Australia                 1          0                      0

term                          Billings  Bird flu  Blue Beetle  Boxing  ...  \
region_name                                                            ...
Australian Capital Territory         1         0            1       0  ...
New South Wales                      0         0            1       1  ...
Northern Territory                   0         0            0       0  ...
Queensland                           1         0            0       0  ...
South Australia                      1         1            0       0  ...
Tasmania                             1         0            0       1  ...
Victoria                             0         0            0       1  ...
Western Australia                    1         1            0       0  ...

term                          The Boys  Travel Guides  Tsitsipas  \
region_name
Australian Capital Territory         1              1          1
New South Wales                      1              1          0
Northern Territory                   0              0          0
Queensland                           1              1          0
South Australia                      1              1          1
Tasmania                             1              0          1
Victoria                             1              1          0
Western Australia                    1              1          0

term                          U.S. Open golf  UFC  US Open  US Open golf  \
region_name
Australian Capital Territory               0    1        0             0
New South Wales                            0    1        1             0
Northern Territory                         0    1        0             1
Queensland                                 0    1        0             0
South Australia                            0    1        0             1
Tasmania                                   0    1        0             0
Victoria                                   0    1        0             0
Western Australia                          1    1        0             1

term                          Under the Bridge  Vladimir Putin  Willie Mays
region_name
Australian Capital Territory                 0               0            0
New South Wales                              0               0            1
Northern Territory                           0               1            0
Queensland                                   0               0            0
South Australia                              1               1            0
Tasmania                                     0               0            0
Victoria                                     0               1            0
Western Australia                            0               0            0

[8 rows x 69 columns]

In [6]:
# Building the model 
frq_items = apriori(basket_Australia.astype('bool'), min_support = 0.8, use_colnames = True)

print("After frequent Items")
  
# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 0.5
                          ) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
display(rules)

After frequent Items

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
124,(Nvidia),(RBA),0.875,0.875,0.875,1.000,1.142857,0.109375,inf,1.0
125,(RBA),(Nvidia),0.875,0.875,0.875,1.000,1.142857,0.109375,inf,1.0
126,(The Boys),(Nvidia),0.875,0.875,0.875,1.000,1.142857,0.109375,inf,1.0
127,(Nvidia),(The Boys),0.875,0.875,0.875,1.000,1.142857,0.109375,inf,1.0
136,(The Boys),(RBA),0.875,0.875,0.875,1.000,1.142857,0.109375,inf,1.0
...,...,...,...,...,...,...,...,...,...,...
198265,(Apple),"(Cricket, Premier League, The Boys, UFC, Full ...",1.000,0.875,0.875,0.875,1.000000,0.000000,1.0,0.0
198266,(Full moon),"(Cricket, Premier League, The Boys, UFC, Apple...",1.000,0.875,0.875,0.875,1.000000,0.000000,1.0,0.0
198268,(Alex de Minaur),"(Cricket, Premier League, The Boys, UFC, Apple...",1.000,0.875,0.875,0.875,1.000000,0.000000,1.0,0.0
198269,(Champions League),"(Cricket, Premier League, The Boys, UFC, Apple...",1.000,0.875,0.875,0.875,1.000000,0.000000,1.0,0.0
198270,(NBA),"(Cricket, Premier League, The Boys, UFC, Apple...",1.000,0.875,0.875,0.875,1.000000,0.000000,1.0,0.0